<!DOCTYPE html>
<html>
<head>
	<title>Weekend Artists</title> <!-- Will change this name-->
	<link rel="stylesheet" type="text/css" href="css/description.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
<header>
	<div class="overlay-test"></div>
	<div class="desktop-header">
		<div class="desktop-header-inner">
			<div class="desktop-header-logo">
				<a onclick="goBack()">
					<
				</a>
			</div>
			<ul class="desktop-header-nav">
				<li class="app-name">
					Artchive New Zealand
				</li>
				<li>
					<img class="info-icon" src="icons/info.png">
				</li>
			</ul>
			<ul class="desktop-header-nav-right">
				<li>
					<a href="#"><img class = "random-icon" src="icons/shuffle.png"></a>
				</li>
				<li>
					<a href="#"><img class="search-icon" src="icons/search.png"></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- The Drop down menu, that will appear on smaller screens: -->
	<div class = "mobile-menu">
		<div class = "mobile-menu-inner">
			<div class="mobile-menu-logo">
				<a href="#">
					<
				</a>
			</div>
		</div>
		<ul class="mobile-menu-right">
			<li>
				<img class="info-icon" src="icons/info.png">
			</li>
			<li>
				<a href="#"><img class = "random-icon" src="icons/shuffle.png"></a>
			</li>
			<li>
				<a href="#"><img class="search-icon" src="icons/search.png"></a>
			</li>
		</ul>
	</div>
</header>

<div class ="description-content">
	<div class = "left-pane">
		<div class="full-image">
			<img src="<%= results[0]%>"/>
		</div>
		<div class="color-grid">
			<div id = "color-1"><%= results[3][0]%></div>
			<div id = "color-2"><%= results[3][1]%></div>
			<div id = "color-3"><%= results[3][2]%></div>
			<div id = "color-4"><%= results[3][3]%></div>
			<div id = "color-5"><%= results[3][4]%></div>
		</div>
	</div>
	<div class="right-pane">
		<div class ="image-description">
			<%= results[2]%>
		</div>
		<div class="similar-images">
		</div>
	</div>
</div>




<script src="js/jquery-3.2.1.js"></script>
<script src="js/index.js"></script>

</body>

</html>

<script>
    function goBack() {
        window.history.back();
    }
    <!--$("#color-1").css("color", <%= results[3][0]%>);-->
    document.getElementById("color-1").style.backgroundColor = "<%= results[3][0]%>";
    document.getElementById("color-2").style.backgroundColor = "<%= results[3][1]%>";
    document.getElementById("color-3").style.backgroundColor = "<%= results[3][2]%>";
    document.getElementById("color-4").style.backgroundColor = "<%= results[3][3]%>";
    document.getElementById("color-5").style.backgroundColor = "<%= results[3][4]%>";

</script>
